* {
	padding: 0;
	margin: 0;
	font-size: 100%;
	line-height: 1.5em;
	font-family: 'Roboto', sans-serif;
	letter-spacing: .5px;
}


/*--------Header--------*/

#hero{
	height: 100vh;
	width: 100%;

}

.intro{
	width: 40vh;
	height: 50vh;
	float: left;
	margin-left: 100px;
	margin-top: 200px;
	font-weight: 1000;
	font-size: 34px;

}

.intro-big{
	width: 40vh;
	height: 40vh;
	float: left;
	background-color: #fff;
	font-weight: 1000;
	font-size: 34px;
}

.intro-small{
	float: left;
	font-weight: none;
	font-size: 16px;
	margin-left: 20px;
}

.cover-text{
	float: right;
	width: 34em;
	height: 17em;
	font-size: 20px;
	bottom: 0;
	right: 0;
	position: absolute;

}





/*--------used multiple times--------*/

.container{
	margin-left: auto;
	margin-right: auto;
	width: 80%;



}


/*--------nav--------*/



nav ul {
	background-color: #fff;
	overflow: hidden;
	color: #000;
	padding: 0;
	text-align: right;
	margin: 0;
	position: fixed;
	width: 100%
}

nav ul li{
	display: inline-block;
	padding: 25px;
}


a {
	color: #000;
	text-decoration: none;
	font-weight: bold;

	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
}

a:hover {
	color: #919090; 

} 

.new-monogram {
	float: left;
	width: 75px;
	height: 75px;
	background-color: #000;
	margin-left: 100px;
}






/*--------nav--------*/

/*--------brief--------*/

#brief{
	float: left;
	width: 100%;
	background-color: #000;
	height: 40em;
}


.brief{
	margin-left: auto;
	margin-right: auto;
	height: 30em;
	background-color: red;

}


.brief-title{
	float: left;
	width: 16em;
	height: 10em;
	padding-top: 2em;

}

.brief-title h1{
	float: left;
	text-align: left;
	font-size: 40px;
	color: #fff;
}

.brief-title h2{
	float: left;
	text-align: left;
	font-size: 20px;
	color: #fff;
	margin-top: -.5em;
}

.brief-text{
	float: left;
	width: 980px;
	text-align: left;
	color: #fff;

}

.brief-text p{
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 18px;
}




/*--------end of about--------*/

/*--------process--------*/

#process{
	float: left;
	background-color: #fff;
	height: 28.5em;
	width: 100%;

}


.process-intro{
	width: 40vh;
	height: 50vh;
	float: left;
	margin-left: 100px;
	margin-top: 40px;
	font-weight: 1000;
	font-size: 20px;

}


.process-big{
	width: 40vh;
	height: 40vh;
	float: left;
	background-color: #fff;
	font-weight: 1000;
	font-size: 34px;
}


.process-small{
	float: left;
	font-weight: none;
	font-size: 16px;
	margin-left: 1.3em;
	margin-top: .5em;
}

.process-text{
	float: right;
	width: 839px;
	height: 237px;
	margin-top: 20em;
}

/*--------end of process--------*/

/*--------start of case study 1--------*/

#case-1{
	float: left;
	background-color: #000;
	height: 80em;
	width: 100%;

}

.case-1-intro{
	width: 40vh;
	height: 30vh;
	float: left;
	margin-left: 100px;
	margin-top: 100px;
	font-weight: 1000;
	font-size: 18px;

}


.case-1-big{
	width: 40vh;
	height: 30vh;
	float: left;
	font-weight: 1000;
	font-size: 28px;
	color: #fff;
}


.case-1-small{
	float: left;
	font-weight: none;
	font-size: 12px;
	color: #fff;
	margin-left: 1.3em;
	margin-top: .5em;
}

.sketches-container{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	background-color: red;
	margin-top: 20em;
}


.sketches-showcase{
	float: left;
	width: 100%;
	height: 30em;

}


.sketches-pic{
	float: left;
	width: 50%;
	height: 100%;
}


.sketches-pic-2{
	float: left;
	width: 50%;
	height: 100%;
}


.sketches-text{
	float: left;
	width: 100%;
}


.sketches-text p{
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 18px;
	color: #fff;
}
/*--------end of case study 1--------*/


/*--------final product--------*/





#final{
	float: left;
	background-color: #fff;
	width: 100%;

}


.final-intro{
	width: 40vh;
	height: 50vh;
	float: left;
	margin-left: 100px;
	margin-top: 40px;
	font-weight: 1000;
	font-size: 20px;

}


.final-big{
	width: 40vh;
	height: 40vh;
	float: left;
	background-color: #fff;
	font-weight: 1000;
	font-size: 34px;
}


.final-small{
	float: left;
	font-weight: none;
	font-size: 16px;
	margin-left: 1.3em;
	margin-top: .5em;
}

.final-text{
	float: right;
	width: 839px;
	height: 237px;
	margin-top: 20em;
}


.final-showcase{
	float: left;
	width: 100%;
	height: 100%;
	background-color: #000;
}

.suits-poster{
	margin-left: auto;
	margin-right: auto;
	width: 595px;
	height: 842px;
	background-color: red;
	margin-top: 5em;
}


/*--------end of final product-------*/

/*--------footer--------*/


footer {
	float: left;
    width: 100%;
    height: 10em;
    background-color: #000;
    color: #ffffff;
    position: relative;
}

footer h1{
	margin-bottom: 1em;
}

.social-icons{
	text-align: center;
	font-size: 32px;
}

.social-icons:hover img{
	opacity: .6;
	transform: scale(.90);
}

.social-icons img:hover {
	opacity: 1;
	transform: scale(1.1);
}

.social-icons img{
	transition: all .2s ease-in-out;
}

/*--------end footer--------*/

